<h1><%= t("send_newsletter") %></h1>

<br/>
  <%= button_link_to_function t("send_newsletter"),  "/admin/newsletters/#{@newsletter.id}/send_newsletters/", :method=>:post, :icon => 'add' %>
<br/>
<br/>
<%= link_to t('cancel'), admin_newsletters_path %>