<h1><%= t("new_newsletter") %></h1>

<% form_for [:admin, @newsletter] do |f| %>
  <%= render :partial => f %>
  <%= f.submit t("create") %>
<% end %>

<%= link_to t('back'), admin_newsletters_path %>


